*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    width: 100%;
}
#logoimg{
    width: 150px;
    margin-bottom: 10px;
}
/* carousel styles */
#carouselExampleFade{
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(.4);
}

.bg-img-1{
    background-image: url('./images/bb2.jpg');
}
.bg-img-2{
    background-image: url('./images/bb3.jpg');
}
.bg-img-3{
    background-image: url('./images/b5.jpg');
}
.carousel-image{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#navbar{
    height: 50px;
    width: 100%;
    margin-top: 35px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    justify-content: space-between;
    padding-left: 10px;
    border-radius: 20px;
    position: absolute;
}
.search{
    width: 100%;
    align-items: center;
    position: absolute;
    margin-top: 150px;

}
#namemain{
    font-size: 30px;
    left: 20px;
}
/* #navbarNav{
    position: absolute;
    left: 1200px;
} */
.heading{
    margin-top: 100px;
    color: white;

}
#searchbox{
    width: 300px;
    margin-top: 30px;
}

/* form */

.form{
    padding: 50px;
}

/* ABOUT US */
#abimg{
    border-radius: 20px;
}
#abimg:hover{
    transform: scale(1.01);
    transition: 2s;
}

#ourservice{
    padding: 5px 10px;
    border-radius: 30px;
    background-color: green;
    color: white;
    border: 0px;
}
#ourservice:hover{
    background-color: white;
    border: solid darkgreen 2px;
}
#ourlink{
    text-decoration: none;
    color: white;
}
#ourlink:hover{
    color: green;
}
#ablist{
    padding: 10px;
    justify-content: space-between;
    color: green;
}

/* Tell us more */
/* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  /* Add some margins for each label */
  .form-inline label {
    margin: 30px 20px 20px 20px;
  }
  
  /* Style the input fields */
  .form-inline input {
    vertical-align: middle;
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  /* Style the submit button */
  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }

  #submit{
    padding: 5px 20px;
    margin: 10px;
    color: white;
    background-color: darkgreen;
    border-radius: 20px;
    border: solid black 0px;
  }
  
  /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }

  /* Packages */
  .card{
    width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    
  }

  #packagerow{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  #cardrow .card-img{
    object-fit: cover;
    border-radius: 5px;

  }

  #cardrow .card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.408);
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 5px;
    transition: 1s;
  }

  #cardrow .card:hover .card-body{
    right: 0;
  }
  #cardrow{
    overflow-x: hidden;
  }

  /* services */
  .back-img{
    position: absolute;
    z-index: -1;
    height: 300px;
  }

#servicerow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#cardcol:hover{
  transform: scale(1.1);
  transition: .3s;

}

/* offer */

.destination img {
  transition: .5s;
}

.destination a:hover img {
  transform: scale(1.1);
}


/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  font-weight: normal;
  border: 1px solid #FFFFFF;
  border-radius: 35px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: black;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/* floting button */

.fab-container{
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 999;
	cursor: pointer;
}

.fab-icon-holder{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #016fb9;
	box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.fab-icon-holder:hover{
	opacity: 0.8;
}

.fab-icon-holder i {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-style: 25px;
	color: #fff;
}

.fab{
	width: 60px;
	height: 60px;
	background: brown;
}

.fab-options{
	list-style-type: none;
	margin: 0;
	position: absolute;
	bottom: 70px;
	right: 0;
	opacity: 0;
	transition: all 0.3s ease;
	transform: scale(0);
	transform-origin: 85% bottom;
}

.fab:hover + .fab-options, .fab-options:hover{
	opacity: 1;
	transform: scale(1);
}

.fab-options li{
	display: flex;
	justify-content: flex-end;
	padding: 5px;
}

.modal-backdrop {
  display: none;
}

/* modal */

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  background-color: rgba(22, 22, 22, 0.408);
  text-align: center;
  border: 1px solid rgba(177, 2, 2, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
form {
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}
.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}
.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}
.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}
.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}
#remember {
  accent-color: #fff;
}
.forget label {
  display: flex;
  align-items: center;
}
.forget label p {
  margin-left: 8px;
}
.wrapper a {
  color: #efefef;
  text-decoration: none;
}
.wrapper a:hover {
  text-decoration: underline;
}
button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}
.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}